img {
  float: left;
}
body {
  background-color: wheat;
}
.sidebar {
  width: 10%;
  float: right;
  background-color: yellow;
  margin: 5px;
  border: 3px solid black;
  padding: 5px;
}
.column {
  width: 20%;
  float: left;
  margin: 5px;
  padding: 5px;
  background-color: darkseagreen;
}